In [70]:
## Proyecto individual, carga de librer√≠as

import pandas as pd
from pandas import json_normalize
import json
import numpy as np

In [73]:
df = pd.read_csv('movies_dataset.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_18320\3347023233.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_dataset.csv')

In [99]:
df.head()

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy

In [5]:
## Revisi√≥n de la informaci√≥n

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [94]:
# Resetear los index luego de borrar filas
df = df.reset_index(drop=True)

In [98]:
## Cambiar datos de objet a int64
df["budget"]=pd.to_numeric(df["budget"],errors='coerce')
df["id"]=pd.to_numeric(df["id"],errors='coerce')

In [ ]:
##borrando columnas que no voy a utilizar
df = df.drop("video",axis=1)
df = df.drop("imdb_id",axis=1)
df = df.drop("adult",axis=1)
df = df.drop("poster_path",axis=1)
df = df.drop("homepage",axis=1)

In [ ]:
# la funci√≥n obtener_valor verifica si el valor proporcionado es un diccionario v√°lido o una cadena que representa un diccionario. Si es un diccionario v√°lido, devuelve el valor correspondiente a la clave especificada; de lo contrario, devuelve None. Esto nos permite extraer los valores deseados del diccionario almacenado en la columna "belongs_to_collection" y asignarlos a columnas separadas en el DataFrame.


def obtener_valor(diccionario, clave):
    if pd.isnull(diccionario):
        return None
    if not isinstance(diccionario, dict):
        try:
            diccionario = json.loads(diccionario.replace("'", "\""))
        except (json.JSONDecodeError, AttributeError):
            return None
    if isinstance(diccionario, dict):
        return diccionario.get(clave)
    else:
        return None


# Aplicar la funci√≥n a la columna "belongs_to_collection"
df['id_btc'] = df['belongs_to_collection'].apply(
    lambda x: obtener_valor(x, 'id'))
df['name_btc'] = df['belongs_to_collection'].apply(
    lambda x: obtener_valor(x, 'name'))
df['poster_btc'] = df['belongs_to_collection'].apply(
    lambda x: obtener_valor(x, 'poster_path'))
df['backdrop_btc'] = df['belongs_to_collection'].apply(
    lambda x: obtener_valor(x, 'backdrop_path'))

# Imprimir los valores obtenidos
result = df[['id_btc', 'name_btc', 'poster_btc', 'backdrop_btc']]

result

In [ ]:
df = df.drop('belongs_to_collection', axis=1)
df = df.drop('poster_btc', axis=1)
df = df.drop('backdrop_btc', axis=1)

In [101]:
df.head(5)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy

In [81]:
def desanidar_generos(genres):
    """
    Desanida los g√©neros contenidos en una lista de diccionarios.

    Args:
        genres (list): Lista de diccionarios que representan los g√©neros.

    Returns:
        tuple: Una tupla que contiene dos listas: genero_id y genero_nombre.

    """
    genero_id = []
    genero_nombre = []
    for genero in genres:
        genero_id.append(genero['id'])
        genero_nombre.append(genero['name'])
    return genero_id, genero_nombre


# Aplicar la funci√≥n desanidar_generos a la columna 'genres'
generos_desanidados = df['genres'].apply(lambda x: desanidar_generos(eval(x)))

# Crear un nuevo DataFrame a partir de los g√©neros desanidados
nuevo_df = pd.DataFrame(generos_desanidados.tolist(), columns=[
                        'genero_id', 'genero_nombre'])

# Explotar las columnas para que cada fila tenga un solo g√©nero
nuevo_df = nuevo_df.apply(pd.Series.explode)

# Reiniciar el √≠ndice del DataFrame
nuevo_df = nuevo_df.reset_index(drop=True)

# Mostrar las primeras filas del nuevo DataFrame
nuevo_df.head()

  genero_id genero_nombre
0        16     Animation
1        35        Comedy
2     10751        Family
3        12     Adventure
4        14       Fantasy

In [82]:
# Elimino columna genres
del df['genres']

In [83]:

# Unir el DataFrame original con las columnas 'genero_id' y 'genero_nombre' del nuevo DataFrame
df = df.join(nuevo_df[['genero_id', 'genero_nombre']])

In [114]:

# Mostrar las primeras filas del DataFrame
df.head(5)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,status,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre,release_year
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation,1995.0
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy,1995.0
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family,1995.0
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure,1995.0
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy,1995.0

In [ ]:
# Convertir la columna 'fecha' a tipo fecha
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Verificar el tipo de dato despu√©s de la conversi√≥n
print(df['release_date'].dtype)  # datetime64[ns]

In [112]:
# Crear una nueva columna con solo el a√±o
df['release_year'] = df['release_date'].dt.year
# Mostrar el DataFrame resultante
df.head(5)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre,a√±o_de_estreno,release_year
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation,1995.0,1995.0
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy,1995.0,1995.0
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family,1995.0,1995.0
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure,1995.0,1995.0
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy,1995.0,1995.0

In [147]:
df = df.drop('original_title', axis=1)

In [115]:

# Eliminar los valores NaN de la columna fecha
df = df.dropna(subset=['release_year'])
# Mostrar el DataFrame resultante
df.head()

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,status,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre,release_year
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation,1995.0
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy,1995.0
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family,1995.0
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure,1995.0
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy,1995.0

In [116]:

#Convertir en enteros los valores
df['release_year'] = df['release_year'].astype(int)
df['revenue'] = df['revenue'].astype(int)
df['runtime'] = df['runtime'].astype(int)
# Mostrar el DataFrame resultante
df.head()

C:\Users\Usuario\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,status,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre,release_year
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81,...,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation,1995
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy,1995
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,101,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family,1995
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure,1995
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,106,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy,1995

In [118]:
# Definir una funci√≥n para calcular el retorno de inversi√≥n
def calcular_retorno(row):
    revenue = row['revenue']
    budget = row['budget']

    # Verificar si hay datos faltantes o el presupuesto es igual a cero
    if pd.isnull(revenue) or pd.isnull(budget) or budget == 0:
        return 0

    # Calcular el retorno de inversi√≥n y redondearlo a dos decimales
    return round(revenue / budget, 2)


# Aplicar la funci√≥n a cada fila del DataFrame para crear la columna "return"
df['return'] = df.apply(calcular_retorno, axis=1)

In [149]:
df.head()

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,tagline,title,vote_average,vote_count,id_btc,name_btc,genero_id,genero_nombre,release_year,return
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033,81,...,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,16,Animation,1995,12.45
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,United States of America,1995-12-15,262797249,104,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,None,35,Comedy,1995,4.04
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros.,United States of America,1995-12-22,0,101,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,10751,Family,1995,0.00
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156,127,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,None,12,Adventure,1995,5.09
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,United States of America,1995-02-10,76578911,106,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,14,Fantasy,1995,0.00

In [145]:
# Obtener la lista de encabezados de columnas
encabezados = df.columns.tolist()

# Mostrar la lista de encabezados de columnas
print(encabezados)

['budget', 'id', 'original_language', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count', 'id_btc', 'name_btc', 'genero_id', 'genero_nombre', 'release_year', 'return', 'mes']

In [89]:
import ast

In [120]:
# Get the most important production companie
def convert_company(text):
    production_company = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 1:
            production_company.append(i['name'])
        counter += 1
    return production_company


df['production_companies'] = df['production_companies'].apply(
    convert_company)

In [121]:
#Convierto el contenido de la columna en texto, luego elimino los corchetes y elimino las comillas 
df['production_companies'] = df['production_companies'].astype(str)

df['production_companies'] = df['production_companies'].str.replace(
    '[', '').str.replace(']', '')
df['production_companies'] = df['production_companies'].str.replace("'", '')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_18320\1307132961.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['production_companies'] = df['production_companies'].str.replace(
C:\Users\Usuario\AppData\Local\Temp\ipykernel_18320\1307132961.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  '[', '').str.replace(']', '')

In [122]:
#Elimino los caracteres especiales de la columna de production countries

def convert_company(text):
    production_company = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 1:
            production_company.append(i['name'])
        counter += 1
    return production_company


df['production_countries'] = df['production_countries'].apply(
    convert_company)

In [123]:
# Convierto el contenido de la columna en texto, luego elimino los corchetes y elimino las comillas
df['production_countries'] = df['production_countries'].astype(str)

df['production_countries'] = df['production_countries'].str.replace(
    '[', '').str.replace(']', '')
df['production_countries'] = df['production_countries'].str.replace("'", '')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_18320\2335827190.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['production_countries'] = df['production_countries'].str.replace(
C:\Users\Usuario\AppData\Local\Temp\ipykernel_18320\2335827190.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  '[', '').str.replace(']', '')

In [ ]:
df["runtime"].unique()

In [125]:
df['runtime'] = df['runtime'].fillna(0)

In [127]:

def contar_mes(df, mes):
    # Convertir la columna release_date a tipo datetime
    df['release_date'] = pd.to_datetime(df['release_date'])

    # Obtener el nombre del mes en espa√±ol
    df['mes'] = df['release_date'].dt.strftime('%B').str.capitalize()

    # Contar los meses y devolver el resultado
    conteo_meses = df['mes'].value_counts().to_dict()

    # Devolver el conteo del mes solicitado
    return conteo_meses.get(mes.capitalize(), 0)

In [128]:

# Ejemplo de uso
cantidad_pelis = contar_mes(df, 'diciembre')
print(f"La cantidad de pel√≠culas estrenadas en enero es: {cantidad_pelis}")

La cantidad de pel√≠culas estrenadas en enero es: 0

In [148]:
tipos_de_dato = df.dtypes

print(tipos_de_dato)

budget                         float64
id                             float64
original_language               object
overview                        object
popularity                      object
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                          int32
runtime                          int32
spoken_languages                object
status                          object
tagline                         object
title                           object
vote_average                   float64
vote_count                     float64
id_btc                         float64
name_btc                        object
genero_id                       object
genero_nombre                   object
release_year                     int32
return                         float64
dtype: object

In [144]:
#Funci√≥n para devolver la cantidad de pel√≠culas en un mes espec√≠fico 

def antidad_filmaciones_mes(data, mes):
    # Convertir la columna "release_date" a tipo datetime si no est√° en ese formato
    data['release_date'] = pd.to_datetime(data['release_date'])
    # Filtrar los datos por el mes especificado en espa√±ol
    data_filtrado = data[data['release_date'].dt.month_name(
        locale='es') == mes]
    # Obtener la cantidad de registros que coinciden
    cantidad = len(data_filtrado)
    return cantidad

In [139]:
#uso de la funci√≥n del mes
cantidad_depelis = antidad_filmaciones_mes(df, 'Diciembre')
print(f"La cantidad de pel√≠culas estrenadas en el mes es {cantidad_depelis}")

La cantidad de pel√≠culas estrenadas en el mes es 3786

In [140]:
# Funci√≥n para devolver la cantidad de pel√≠culas en un d√¨a espec√≠fico

def cantidad_filmaciones_dia(data, dia):
    # Filtrar los datos por el d√≠a de la semana especificado en espa√±ol
    data_filtrado = data[data['release_date'].dt.day_name(locale='es') == dia]
    # Obtener la cantidad de registros que coinciden
    cantidad = len(data_filtrado)
    return cantidad

In [142]:
# uso de la funci√≥n del d√≠a
cantidad_dia = cantidad_filmaciones_dia(df, 'Martes')
print(f"La cantidad de pel√≠culas estrenadas en el d√¨a es {cantidad_dia}")

La cantidad de pel√≠culas estrenadas en el d√¨a es 4641

In [1]:
#consulta del score con el a√±o de la pel√≠cula

def score_titulo(title):
    # Reemplaza 'tu_archivo.csv' con el nombre de tu archivo de datos
    pelicula = df[df['title'] == title]
    if pelicula.empty:
        return "No se encontr√≥ informaci√≥n para la pel√≠cula: " + title
    else:
        release_year = pelicula['release_year'].values[0]
        score = pelicula['popularity'].values[0]
        return f"La pel√≠cula '{title}' fue estrenada en el a√±o {release_year} y tiene un puntaje de {score}"

In [2]:

# Ejemplo de uso:
resultado = score_titulo('Toy Story')
print(resultado)

NameError: name 'df' is not defined

In [165]:
def votos_titulo(titulo_de_la_filmacion):
    data = df
    pelicula = data[data['title'] == titulo_de_la_filmacion]
    if pelicula.empty:
        return "No se encontr√≥ informaci√≥n para la pel√≠cula: " + titulo_de_la_filmacion
    else:
        votos = pelicula['vote_count'].values[0]
        promedio = pelicula['vote_average'].values[0]
        if votos >= 2000:
            return f"La pel√≠cula '{titulo_de_la_filmacion}' fue estrenada en el a√±o {pelicula['release_year'].values[0]}. La misma cuenta con un total de {votos} valoraciones, con un promedio de {promedio}"
        else:
            return f"La pel√≠cula '{titulo_de_la_filmacion}' no cumple con la condici√≥n de tener al menos 2000 valoraciones."

In [166]:
resultado = votos_titulo('Toy Story')
print(resultado)

La pel√≠cula 'Toy Story' fue estrenada en el a√±o 1995. La misma cuenta con un total de 5415.0 valoraciones, con un promedio de 7.7

In [170]:
df.to_csv('data_movies_fin.csv', index=False)